//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 09 15:54:33 2015
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "CLK_N" LOCATE = SITE "G1" LEVEL 1;
COMP "SYS_CLK_100M" LOCATE = SITE "V10" LEVEL 1;
COMP "CLK_P" LOCATE = SITE "G3" LEVEL 1;
COMP "RAS" LOCATE = SITE "L5" LEVEL 1;
COMP "ADDR_RAM<10>" LOCATE = SITE "F4" LEVEL 1;
COMP "ADDR_RAM<11>" LOCATE = SITE "D3" LEVEL 1;
COMP "ADDR_RAM<12>" LOCATE = SITE "G6" LEVEL 1;
COMP "ADDR_RAM<0>" LOCATE = SITE "J7" LEVEL 1;
COMP "ADDR_RAM<1>" LOCATE = SITE "J6" LEVEL 1;
COMP "BA<0>" LOCATE = SITE "F2" LEVEL 1;
COMP "ADDR_RAM<2>" LOCATE = SITE "H5" LEVEL 1;
COMP "BA<1>" LOCATE = SITE "F1" LEVEL 1;
COMP "ADDR_RAM<3>" LOCATE = SITE "L7" LEVEL 1;
COMP "ADDR_RAM<4>" LOCATE = SITE "F3" LEVEL 1;
COMP "ADDR_RAM<5>" LOCATE = SITE "H4" LEVEL 1;
COMP "ADDR_RAM<6>" LOCATE = SITE "H3" LEVEL 1;
COMP "ADDR_RAM<7>" LOCATE = SITE "H6" LEVEL 1;
COMP "ADDR_RAM<8>" LOCATE = SITE "D2" LEVEL 1;
COMP "ADDR_RAM<9>" LOCATE = SITE "D1" LEVEL 1;
COMP "CAS" LOCATE = SITE "E3" LEVEL 1;
COMP "DM<0>" LOCATE = SITE "K3" LEVEL 1;
COMP "CKE" LOCATE = SITE "H7" LEVEL 1;
COMP "DM<1>" LOCATE = SITE "K4" LEVEL 1;
PIN ddr_clocks/clkout1_buf_pin<1> = BEL "ddr_clocks/clkout1_buf" PINNAME O;
PIN "ddr_clocks/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ddr_clocks/clkin1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

